.footer {
  width: 100%;
  background: #F8F8F8;
  padding: 20px 0;

  &_containter {
    width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  &_main {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 0;
    justify-content: space-between;

    &_links {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;

      img {
        width: 100px;
        margin-left: 10px;
      }
    }

    &_block {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-left: 10px;

      &.second_block {
        align-items: center;
      }

      span {
        font-size: 14px;
        color: #2D2D2F;
        margin-bottom: 10px;
      }

      .social-media {
        display: flex;
        flex-direction: row;
        a {
          margin-right: 10px;
        }
      }

      img {
        width: 100px;
        margin-left: 10px;
      }
    }
  }

  &_bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;

    a {
      text-decoration: none;
      color: #8D8D8E;
      margin-left: 10px;
      font-size: 14px;
    }
  }

  @media (max-width: 1300px) {
    .footer_containter {
      width: 100%;
      padding: 0 20px;
    }
  }

  @media (max-width: 768px) {
    .footer_main {
      flex-direction: column;
      align-items: flex-start;
      padding: 20px;

      &_links {
        margin-top: 20px;
      }

        &_block {
          margin: 0 20px;
          align-items: center;
        }
    }

    .footer_links {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 20px;
    }

    .footer_block.second_block {
      align-items: flex-start;
      margin-left: 0;
    }
    .footer_bottom {
      flex-direction: column;
      text-align: center;
    }

  }
}
