@font-face {
    font-family: "Railway";
    src: url("./fonts/Raleway-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Railway", sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    align-items: start;

    .app-section {
        margin: 0 auto;
        width: 100%;

        .content-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: start;
            width: 1200px;
            margin: 10px auto;

            .content {
                width: 75%;
                margin: 0 10px;
            }
        }
    }
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}